<% lots_of_products = Product.includes(:user).all %>
<ul>
	<% lots_of_products.each do |product| %>
	<li> 
		Product Name: "<%= product.name %>" costs $<%= product.price %> 
		Sold by <%= product.user.name %>
	</li>
	<% end %>
</ul>

<p>
  Find me in <%= Rails.root.join("app", "views", "products", __FILE__ ) %>
</p>

<h2> Hello world </h2>
<h2> I AMA View </h2>
